@import '../vendor/bootstrap/css/bootstrap.min.css';
@import '../vendor/fonts/fontawesome/css/fontawesome-all.css';


@font-face {
    font-family: restaurant;
    src: url("/fonts/Restaurant-Italic.otf") format("opentype");
}

@font-face {
    font-family: gotic;
    src: url("/fonts/Trade Gothic LT Bold.ttf") format("opentype");
}

@font-face {
    font-family: hot;
    src: url("/fonts/Restaurant-Hot.ttf") format("opentype");
}

body {

    background-color: #f8f9fa
}

.contenedor {

    background-color: #f8f9fa;
}

.plato img {

    width: 100%;
    height: 100px;
}

.platos {

    overflow: scroll;
    height: 600px;
}

.borde {

    background-color: #610D0D;
    border-radius: 2px;
}

.borde div {

    font-weight: bold;
    font-size: 12px;

}

.borde .desayunos {

    background-color: rgb(233, 215, 203);
}

.borde .sopas {

    background-color: rgb(231, 226, 156);
}

.borde .entrantes {

    background-color: rgb(187, 209, 177);
}

.borde .platos_principales {

    background-color: rgb(245, 130, 130);
}

.borde .postres {

    background-color: rgb(195, 243, 247);
}


.lateral {

    background-color: #610D0D;
}

.ticket {

    box-shadow: 0 0 5px rgba(0, 0, 0, .25);
}

.ticket p {

    font-size: 12px;
    font-family: monospace;
    margin-left: 5%;
}

#cobrar {

    font-size: 20px;
    color: #610D0D;
}

.cabecera {

    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 2px solid rgb(192, 54, 54);
    border-bottom: 2px solid rgb(192, 54, 54);
    border-right: 2px solid rgb(192, 54, 54);
    font-family: 'gotic';
    background-color: #610D0D;
    border-radius: 5px;
}

.cabecera img {

    width: 100%;
    background-color: white;
    border-radius: 50%;

    
}

.nav{

    color: white;
    
}

.fotoPerfil img{

    border-radius: 50%;
    width: 80%;
    border: 2px solid white;
}

a{

    color: white;
}

a:hover{

    color: white;
}



    
